.gwtPopupPanelModificado{
  background: yellow;  
  font-weight: bold;
  color: black;
  padding: 0px;
  border: 1px solid black;

  opacity: 0.9;
  /*ie
  filter: alpha(opacity=90);
 */
  	/*bordes redondeados*/
    -webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	
}
